*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
  background-color: black;
  padding: 0.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  
  
}
a{
  text-decoration: none;
}
.navbar ul{
  display: flex;
  list-style: none;
  margin-top: 0.5rem;
}
.navbar i{
  font-size: 2rem;
}
.navbar h1{
  font-size: 2rem;
}
.navbar ul li a{
  color: #eee;
  padding: 1rem;
  font-size: 1.2rem;
  transition: all 0.2s ease-in;
  

}
.navbar ul li a:hover{
background-color: #49D9EF;
}